<section class="product-p">
  <div class="container">
    <div class="col-sm-3 pull-left">
      <div class="col-sm-12">
        <h3 class="box-title"> <%= t ".previous" %> </h3>
        <ul>
          <%= render partial: "category", collection: @category %>
        </ul>
      </div>
    </div>
    <div class="col-sm-9 pull-right">
      <h3 class="box-title"><%= t ".previous" %></h3>
      <ol>
        <%= render partial: "product", collection: @products %>
      </ol>
      <%= will_paginate @products %>
    </div>
  </div>
</section>
